<h1>Cadastro de livro</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Digite o titulo">
    </div>

     <div class="form-control">
        <label for="title">Qtde de paginas</label>
        <input type="text" name="pageqty" placeholder="Digite qtde de paginas">
    </div>

    <input type="submit" value="Cadastrar">
</form>